server {
    listen 80;
    server_name _;
    proxy_connect_timeout 60s;
    proxy_read_timeout 60s;

    location /api/ {
        proxy_pass http://{{ kind_node_ip }}:32569/api/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /grafana/ {
        proxy_pass http://{{ kind_node_ip }}:30030/grafana/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto http;
    }

    location ~* ^/prometheus(.*) {
        proxy_pass http://{{ kind_node_ip }}:30090/prometheus$1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location ~* ^/alertmanager(.*) {
        proxy_pass http://{{ kind_node_ip }}:30093/alertmanager$1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /argocd/ {
        proxy_pass http://{{ kind_node_ip }}:30080/argocd/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto http;
    }

    location /keycloak/ {
        proxy_pass http://{{ kind_node_ip }}:30888/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /vault/ {
        proxy_pass http://{{ kind_node_ip }}:30200/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_redirect ~^(http://[^/]+)(/.*)?$ $1/vault$2;
    }

    location /ui/ {
        proxy_pass http://{{ kind_node_ip }}:30200/ui/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
